// *************************************
//
// Button
// -> All buttons
//
// *************************************

.Button {
  display: inline-block;
  padding: rem(5px) rem(5px);
  &:hover {
    text-decoration: none;
  }
}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

// ----- Default ----- //

.Button--default {
  color: $c-white;
  fill: $c-white;
}


// ----- Brand ----- //

.Button--brand {
  color: $c-blue;
  fill: $c-white;
  background: $c-white;
}

.Button--home{
  font-size: rem(20px);
  font-family: $t-headerFontFamily;
  background-color: $c-orange;
  color: $c-white;
  width: 100%;
  text-align: center;
  letter-spacing:2px;
  text-transform:uppercase;
}

// -------------------------------------
// States
// -------------------------------------

// .is-module-state

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- Submodule ----- //

// .Module-subModule
