// *************************************
//
// Icon
// -> Display an svg icon
//
// *************************************

.Icon {}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

.Icon--inline {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  padding-bottom: 0.2em;
}

.Icon--alone {}

.icon-list{
	// margin-top: 3em;
}

#post-19 > div:nth-child(1) > ul:nth-child(1){
	padding-left: 8em;

}
div.textwidget:nth-child(2) > ul:nth-child(1){
	text-align: left;
	padding-left: 10em;
}
.icon-phone {
	list-style-image: url('/files/2014/06/phoneblue.png');
}

.icon-fax {
	list-style-image: url('/files/2014/06/faxblue.png');
}

.icon-mail {
	list-style-image: url('/files/2014/06/emailblue.png');
}

.icon-pinblue {
	list-style-image: url('/files/2014/06/pinblue.png');

}

.icon-briefcase {
	list-style-image: url('/files/2014/06/briefcaseblue.png');

}



