// *************************************
//
// Icon
// -> Display an svg icon
//
// *************************************

.Icon {}

// -------------------------------------
// Module specific variables
// -------------------------------------

// -variable

// -------------------------------------
// Modifiers
// -------------------------------------

.Icon--inline {
  height: 1em;
  width: 1em;
  vertical-align: middle;
  padding-bottom: 0.2em;
}

.Icon--alone {}

.icon-list{
	padding-left: 1em;
}

.icon-phone {
	list-style-image: url('/files/2014/06/phoneblue.png');
}

.icon-fax {
	list-style-image: url('/files/2014/06/faxblue.png');
}

.icon-mail {
	list-style-image: url('/files/2014/06/emailblue.png');
}
