.Line{
	border: 0;
	color: $c-orange;
	background-color: $c-orange;
	height: 1px;
}

.Line--sidebar{
	margin-top: 3em;
	margin-bottom: 1.5em;
	border: 0;
	color: $c-orange;
	background-color: $c-orange;
	height: 1px;
}