// *************************************
//
// Global.scss
// -> Slate v0.1.0
//
// *************************************

// -------------------------------------
// Libs
// -------------------------------------

// ----- Reset ----- //
@import "../../lib/scss/normalize/normalize";

// ----- Bourbon ----- //
@import "../../lib/scss/bourbon/bourbon";

// ----- Bourbon Neat ----- //
@import "../../lib/scss/neat/neat";

// ----- Native wordpress styles ----- //
@import "../../lib/scss/wp/wp";

// ----- Override ----- //
@import "../../lib/scss/libs-override";

// -------------------------------------
// Core
// -------------------------------------

// ----- Helpers ----- //
@import "core/helpers";

// ----- Settings ----- //
@import "core/settings";

// ----- Base ----- //
@import "core/base";

// ----- Content ----- //
@import "core/utilities";

// -------------------------------------
// Modules
// -------------------------------------

@import "modules/article";

@import "modules/sidebar";

@import "modules/button";

@import "modules/equalheight";

@import "modules/header";

@import "modules/icon";

@import "modules/logo";

@import "modules/navigation";

@import "modules/footer";

@import "modules/logobar";

@import "modules/line";

@import "modules/usp";

@import "modules/contact";

@import "modules/sidebarmenu";

@import "modules/table";

// -------------------------------------
// Inbox
// -------------------------------------

.two-col {
       -moz-column-count: 2;
       -moz-column-gap: 20px;
       -webkit-column-count: 2;
       -webkit-column-gap: 20px;
}

.Body-text{
	margin-top: 0; 
	font-family: $t-fontFamily;
	color: $c-blue;
	letter-spacing:2px;
	margin-bottom: 23px;
	// background-color: red;
}

div.Body--text{
	background-color:red;
}

.Footer-inner > iframe:nth-child(5){
	width: 23%;
}

.Text{
	width: 43em;
}